# Data Science Tools and Ecosystem

**Objectives:**
- List of popular languages for Data Science
- List of commonly used libraries used by Data Scientists
- Data Science Tools
- Example of arithmetic using Python

#### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

#### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. ggplot

| Data Science Tools |
| ------------------ |
| Git |
| JupyterLab |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Najla Qadrina H. W.